<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.budgetplanner">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustNothing">
        <activity android:name=".activity_account_personal_change"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".activity_account_personal"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".activity_account_create2"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".activity_home_expenses"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".activity_home_budget"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".activity_home_accounts"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".activity_home"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".activity_intro"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".activity_account_login"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".activity_account_create"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".activity_splash"
            android:windowSoftInputMode="adjustNothing">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>